@model EntityLayer.Concrete.Feature
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_newadminLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Öne Çıkanların Düzenlendiği Sayfadır.</h4>
            @using (Html.BeginForm("Index", "Feature", FormMethod.Post))
            {
                @Html.HiddenFor(x=>x.FeatureId)
                <div class="form-group">
                    <label>Giriş Başlığı:</label>
                    <input type="text" class="form-control" style="color:white" asp-for="Header">
                </div>
                <div class="form-group">
                    <label>Orta Başlık:</label>
                    <input class="form-control" asp-for=Name style="color:white">
                </div>
                <div class="form-group">
                    <label>Ana Başlık:</label>
                    <input class="form-control" asp-for="Title" style="color:white">
                </div>
                <button type="submit" class="btn btn-outline-success mr-2">Güncelle</button>
            }
        </div>
    </div>
</div>


