@model List<EntityLayer.Concrete.Contact>
<div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
    @foreach (var x in Model)
    {
    <div class="mt-3 px-1">
        <div class="h5">@x.Title</div>
        <p>@x.Description</p>
        <p>Aşağıdaki adresler üzerinden bana mail gönderebilir veya sorularınızı iletebilirsiniz.</p>
        <p>Görüşmek Üzere!</p>
    </div>
    <div class="mt-53 px-1">
        <div class="row">
          
            <div class="col-sm-2">
                <div class="pb-1">E-posta:</div>
            </div>
            <div class="col-sm-10">
                <div class="pb-1 fw-bolder">@x.Mail</div>
            </div>
            <div class="col-sm-2">
                <div class="pb-1">Linkedin:</div>
            </div>
            <div class="col-sm-10">
                    <div class="pb-1 fw-bolder"><a href="https://www.linkedin.com/in/ramazan-kartal-76919821a/" style="color:blue">Ramazan Kartal</a></div>
            </div>
            <div class="col-sm-2">
                <div class="pb-1">Telefon:</div>
            </div>
            <div class="col-sm-10">
                <div class="pb-1 fw-bolder">@x.Phone</div>
            </div>
        </div>
    </div>
    }
    </div>
    